<div id="<%= dom_id etape %>">
  <p>
    <strong>Dossier:</strong>
    <%= etape.dossier_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= etape.user_id %>
  </p>

  <p>
    <strong>Commentaire:</strong>
    <%= etape.commentaire %>
  </p>

</div>
